/*header*/

header {
    border-radius: 30px;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}
.header_gauche {
    display: flex;
    align-items: baseline;
}
#logo_oli_dev {
    height: 240px; width: 240px;
}

.morph div img {
    width: 200px;
    height: 150px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
    .morph div:hover img {
    width: 150px; /* on affiche l'image au carré */
    height: 150px;
    border-radius: 50%;  /* on arrondit l'image */
    -webkit-transform: rotate(360deg); /* rotation de l'image */
    transform: rotate(360deg);
    }

.titre {
        text-align: center;
}

.header_centre {
    display: flex;
    flex-direction: column;
}

.header_droite {
    display: flex;
    align-items: baseline;
}

nav {
    position: relative;
    top: 113px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    list-style: none;
    } 
    nav li {
        width: 105px;
        height: 50px;
        transition: background-position-x 0.6s linear;
        text-align: center;
    } 
    nav li a {
        color: #212121;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.45s;
        align-items: flex-end;
    }  
    nav li:hover {
        background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
        -webkit-animation: line 1s;
                animation: line 1s;
    }
    nav li:hover a {
        color: #d94f5c;
    }
    nav li:not(:last-child) {
        margin-right: 30px;
    }
    
    @-webkit-keyframes line {
        0% {
            background-position-x: 390px;
    }}
    @keyframes line {
        0% {
            background-position-x: 390px;
    }}
/*Section_1*/
.section_0 {
    background-color: black;
    margin: 2cm;
    display: flex;
    justify-content: center;
    border-radius: 10% 30% ;
}
#screen_capture {
    height: 484px;
    width: 270px;
}
.section_1 {
    padding: 2cm;
    display: flex;
    justify-content: space-between
}
.head_section1 {
    background-color: black;
}

.deezer_box {
    width: 25%;
    border-radius: 10% 30% ;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    color : white;
    padding: 3%;
    align-content: flex-start;
}

#deezer_logo {
    width: 113.3859px; height: 113.3859px;
}



.section_1_gauche {
    display: flex;
    flex-direction: column;
}

.section_1_droite {
    display: flex;
    flex-direction: column;
}

#screen_capture {
    margin: 20px;
    border-radius: 10% 25%;
}

.section_2 {
    display: flex;
    justify-content: space-between;
}

.section_3 {
    display: flex;
    justify-content: space-between;
}

/*footer*/


footer {
    border-radius: 30px;
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
}
#logo_linkedin {
    height: 150px;
}

